# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = webcrawler.settings

[deploy]
url = http://nj02-vs-ting-ensl-35.nj02.baidu.com:6800
project = webcrawler
